[Desktop Entry]
Name=Signal Beta
Exec="/opt/Signal Beta/signal-desktop-beta" --no-sandbox --enable-features=UseOzonePlatform --ozone-platform=wayland -- %U
Terminal=false
Type=Application
Icon=signal-desktop-beta
StartupWMClass=Signal Beta
Comment=Private messaging from your desktop
MimeType=x-scheme-handler/sgnl;x-scheme-handler/signalcaptcha;
Categories=Network;InstantMessaging;Chat;
