
[Unit]
Description=Suspend system if low battery

[Service]
Type=oneshot
ExecStart=sh -c /etc/systemd/system/suspend_low_bat.sh

[Install]
RequiredBy=timers.target
